language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"

install:
    - pip install -r requirements.txt

env:
    - SDIST_DIR=/tmp/pyevtk_sdist/

script:
    - python setup.py test
    - codecov
    - python setup.py bdist_wheel
    - python setup.py sdist -d ${SDIST_DIR}/ --format=gztar
    - twine check ${SDIST_DIR}/*
    - check-manifest -p python ${PWD}
    - pip install $(ls ${SDIST_DIR})
